<html>
<head>
    <title>Priyankas Weather Channel</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <script src="scripts.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 align="center">Weather display</h1>
        <h2 align="center">This webpage will display weather for next 5 hours</h2>
    </div>

</div>
<div ng-app="weather" ng-controller="weatherctrl">

    <label>State Code: </label>
    <input class="w3-input" type="text" name="input" ng-model="example.stateCode"
           ng-pattern="example.word" required ng-trim="false" ng-init="example.stateCode='MO'" maxlength="2">
    <label>City: </label>
    <input class="w3-input" type="text" name="input" ng-model="example.cityName"
           ng-pattern="example.word" required ng-trim="false" ng-init="example.cityName='Kansas City'">
    <button id="btn" ng-click="getWeather(example.stateCode, example.cityName)"> Show Weather </button>
    <br/>
    <br/>
    <table id="recordCss">
        <tr>
            <th>Hour</th>
            <th>Condition</th>
            <th>Temperature</th>
            <th>Feels Like</th>
        </tr>
        <tr ng-repeat = "obj in result| limitTo:5">
            <td>
                {{getHours(obj.FCTTIME.hour)}}
            </td>
            <td>
                {{obj.condition}}
            </td>
            <td>
                {{getTemp(obj.temp.english)}}
            </td>
            <td>
                {{getTemp(obj.feelslike.english)}}
            </td>
        <tr>

    </table>
</div>

</body>
<footer>&copy; Copyright Priyanka G 2018</footer>

</html>